<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Mode" value="TrainingMode"/>
    <add key="ModeP" value="TrainingMode"/>
    <add key="ModeT" value="TrainingMode"/>
  </appSettings>
</configuration>